# Optional: Datetime Conversion using _datetime_

In [1]:
import pandas as pd
import datetime as dt

In [2]:
columns = ['count', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'year', 'month', 'day', 'dayofweek','hour']

In [3]:
df = pd.read_csv('train.csv', parse_dates=['datetime'], index_col=0)
df_test = pd.read_csv('test.csv', parse_dates=['datetime'], index_col=0)

In [4]:
df.head() # data check

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [5]:
# Convert from first 'datetime' column to epoch
# convert to string then subtract 1970-1-1, call results
df['datetime'] = pd.to_datetime(df.index)
# conventional 32-bit Integer way
# dtconversion = (df['datetime'] - dt.datetime(1970,1,1)).dt.total_seconds()

In [6]:
# Much faster through a 64-but signed integer (Int64)
dtconversion_int64 = (df['datetime'].astype('int64')//1e9)

In [7]:
# Optional data check
dtconversion_int64.head()

datetime
2011-01-01 00:00:00    1293840000
2011-01-01 01:00:00    1293843600
2011-01-01 02:00:00    1293847200
2011-01-01 03:00:00    1293850800
2011-01-01 04:00:00    1293854400
Name: datetime, dtype: int64